---------------------------------------
| Report Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
---------------------------------------

{% for host in groups['controller'] %}
---------------------------------------
| Checks for host : {{ host }}
---------------------------------------
{% for check in hostvars[host]['checks'] %}
{% if hostvars[host][check] is defined %}
{%   if hostvars[host][check]['failed'] is defined %}
{%     if hostvars[host][check]['failed'] == true %}
ERROR: {{ check }} failed
  -- {{ hostvars[host]['checks'][check]['detail'] }}
{%     else %}
OK: {{ check }} passed
{%     endif %}
{%   endif %}
{% else %}
WARNING: {{ check }} NOT DEFINED - Check the ansible run to see what happened
{% endif %}
{% endfor %}
{% endfor %}

